.container {
  display: grid;
  grid-template-areas:
    "title"
    "main";
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addButton {
  width: 8vw;
  height: 4vw;
  position: absolute;
  top: 5vw;
  bottom: 0;
  left: 47vw;
  right: 0;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.main {
  grid-area: main;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: 1.5vw;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.bookItem {
  border-radius: 0.5vw;
  position: relative;
  background-color: white;
  margin-bottom: 2vw;
  max-width: 20vw;
}

.bookButton {
  border-radius: 0 0.5vw 0 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: grey;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.bookContent {
  padding: 1vw;
  width: 18vw;
  word-wrap: break-word;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.li {
  margin: 10px;
}

.popup {
  margin-bottom: 10vw;
}

.listTitle {
  margin-left: 2vw;
}